/* Home Blog 7.0 */
.testimonials-section {
    padding: 80px 0 50px;
    background: url("../assets/blog/reviews.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
  
    .user_img {
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 25px;
      }
    }
  
    .carousel.slide {
      .carousel-inner {
        .carousel-caption {
          p {
            font-size: 1.7rem;
            line-height: 1.45;
            font-weight: 400;
            padding: 0 12%;
            margin-bottom: 25px;
          }
  
          .item_rating {
            i {
              color: var(--yellow);
              margin-right: 5px;
            }
          }
  
          h5 {
            font-size: 1rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  
  
@media (max-width: 767px) {
  .testimonials-section .carousel.slide .carousel-inner .carousel-caption p {
    font-size: 1rem;
  }
}