/* Common Button */
.order_now {
	color: var(--light-black);
	background: var(--yellow);
	border-color: var(--yellow);
	padding: 15px 38px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-family: var(--oswald-font);
	vertical-align: middle;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;

	&:focus,
	&:hover {
		color: var(--white);
		background: transparent;
		border-color: var(--white);
	}
}

.btn_red {
	color: var(--white);
	background: var(--light-red);
	border-color: var(--light-red);

	&:hover,
	&:focus {
		color: var(--light-red);
		background: transparent;
		border-color: var(--light-red);
	}
}